.ProjectDetail-wrapper {
	--shadow-color: #00000029;
	box-shadow: 3px 3px 10px 0 var(--shadow-color);
	transition: 0.3s;
	width: 70vw;
	height: 1500px;
	border-radius: 31px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;

	.ProjectDetail-thumbnail {
		position: relative;

		&.img {
			background: gray;
			width: 270px;
			height: 277px;
			border-radius: 31px 31px 0 0;
		}
	}
	
	.ProjectDetail-top {
		border-top: solid 3px;
		border-bottom: solid 3px;

		.ProjectDetail-name {
			font-size: 58pt;
		}
	
		.ProjectDetail-category {
			font-size: 31pt;
			color: #BBBBBB;
		}
	
	}

	.ProjectDetail-middle {
		display: flex;
		flex-direction: row;
		background-color: blue;

		.ProjectDetail-project {
			background-color: red;
		}
		.ProjectDetail-projectinfo {
			color: white;
		}
	}
	
	.ProjectDetail-bottom {
		display: flex;
		flex-direction: row;
		border-top : solid 3px;
		background-color: blue;
	
		.ProjectDetail-user {
			width: 141px;
			box-shadow: 3px 3px 6px 0 var(--shadow-color);
			flex-direction: column;
			background-color: red;

			&.userimg {
				width: 25px;
				border-radius: 50%;
			}

			&.userinfo {
				font-size: 20pt;
			}
		}
	}
}
