.ProjectDetail-wrapper {
	--shadow-color: #00000029;
	--grid-top-padding: 10px;
	box-shadow: 3px 3px 10px 0 var(--shadow-color);
	width: 1000px;
	height: 700px;
	border-radius: 30px;
	display: flex;
	//flex-direction: column;
	//align-items: center;
	padding: 20px;
	justify-content: space-between;
	margin: 100px auto 0;
	//background: rgb(153, 153, 153);
	overflow: hidden;
	font-size: 11px;

	.ProjectDetail-thumbnail {
		position: relative;
		width: 500px;
		//height: 700px;
		//background: rgb(204, 207, 25);
		border-radius: 20px;
		overflow: hidden;

		&.img {
			background: gray;
			//border-radius: 20px;
			overflow: hidden;
			//width: 500px;
			//height: 277px;
		}
	}
	.ProjectDetail-overview {
		width: 470px;
		//background: crimson;
		align-items: center;
	}

	.ProjectDetail-info {
		margin-top: 30px;
		//background: pink;
		display: flex;
		//align-items: center;
	}

	.ProjectDetail-theme1 {
		display: flex;
		width: 110px;
		//height: 50px;
		padding-left: 20px;
		padding-top: var(--grid-top-padding);
		//align-items: center;
		//background: greenyellow;
	}

	.ProjectDetail-theme2 {
		width: 330px;
		padding-top: var(--grid-top-padding);
		//background: green;
	}

	.ProjectDetail-top {
		//background: rgb(72, 190, 135);
	}

	.ProjectDetail-name {
		text-align: center;
		font-size: 28pt;
		font-weight: bold;
		//border-bottom: 6px solid;
		//background: rgb(153, 86, 86);
	}

	.ProjectDetail-underline {
		width: 30px;
		height: 10px;
		border-bottom: 5px solid;
		margin-left: auto;
		margin-right: auto;
	}

	.ProjectDetail-category {
		display: flex;

		:nth-child(1) {
			width: 69px;
			//background: chocolate;
		}
		:nth-child(2) {}
		//background: cadetblue;
	}

	.ProjectDetail-description {
		display: flex;
		padding-top: var(--grid-top-padding);
		:nth-child(1) {
			width: 80px;
			//background: chocolate;
		}
		:nth-child(2) {
			width: 300px;
		}
		//background: blueviolet;
	}

	.ProjectDetail-content {
		//background: burlywood;
		display: flex;
		padding-top: var(--grid-top-padding);
		:nth-child(1) {
			width: 80px;
			//background: chocolate;
		}
		:nth-child(2) {
			width: 300px;
		}
	}

	.ProjectDetail-middle {
		display: flex;
		//flex-direction: row;
		//background: rgb(119, 145, 49);
		display: flex;
		padding-top: var(--grid-top-padding);
		:nth-child(1) {
			width: 80px;
			//background: chocolate;
		}
		:nth-child(2) {
			width: 300px;
		}
	}

	.ProjectDetail-region {
		display: flex;
		padding-top: var(--grid-top-padding);
		:nth-child(1) {
			width: 80px;
			//background: chocolate;
		}
		:nth-child(2) {
			width: 300px;
		}
		//background: blue;
	}

	.ProjectDetail-date {
		display: flex;
		padding-top: var(--grid-top-padding);
		:nth-child(1) {
			width: 80px;
			//background: chocolate;
		}
		:nth-child(2) {
			width: 300px;
		}
	}

	.ProjectDetail-profileTemplate {
		display: flex;
		//background: blue;
	}

	.ProjectDetail-profileLeader {
		width: 152px;
		padding-left: 20px;
		padding-top: 40px;
		//background:gold
	}
	.ProjectDetail-user {
		width: 100%;
		display: flex;
		margin-top: 20px;
		//box-shadow: 3px 3px 6px 0 var(--shadow-color);
		//flex-direction: column;
		//background: cornflowerblue;

		&.userimg {
			background: gray;
			margin-right: 20px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}

		&.userinfo {
			display: block;
			//background:hotpink;
			font-size: 10pt;
		}

	.ProjectDetail-bottom {
		display: flex;
		//flex-direction: row;
		//background: coral;
		}
	}
}

.Delete-button {
	border: none;
	border-radius: 5px;
	color: rgb(75, 75, 75);
	background: rgb(228, 228, 228);
	margin-top: 20px;
	width: 60px;
	height: 30px;
	box-shadow: 3px 3px 10px 0 #00000029;
}

.Update-button {
	border: none;
	border-radius: 5px;
	color: rgb(75, 75, 75);
	background: rgb(228, 228, 228);
	margin: 20px 0 0 10px;
	width: 60px;
	height: 30px;
	box-shadow: 3px 3px 10px 0 #00000029;
}

.update {
	display: none;
}
