.CardViewTemplate-wrapper {
	//background: coral;
	//width: 70vw;
	margin-left: auto;
	margin-right: auto;
}

.CardViewList-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow: visible;
	//margin-top: 10px;
}
