.CardViewListItem-wrapper {
	--shadow-color: #00000029;
	--cardview-width: 250px;
	--cardview-height: 411px;
	--cardview-photo-height: (var(--cardview-height) - 130)px;

	box-shadow: 3px 3px 10px 0 var(--shadow-color);
	width: var(--cardview-width);
	height: var(--cardview-height);
	border-radius: 20px;
	position: relative;
	margin-top: 20px;
	&:hover {
		background: #ececec;
		transition: 0.5s;
		.CardViewListItem-img {
			filter: brightness(80%);
			transition: 0.5s;
		}
	}

	.CardViewListItem-thumbnail {
		position: relative;

		.CardViewListItem-img {
			width: var(--cardview-width);
			height: 277px;
			border-radius: 20px 20px 0 0;
		}

		.CardViewListItem-bookmark {
			background: rgba($color: white, $alpha: 0.4);
			width: 36px;
			height: 36px;
			border-radius: 50%;
			backdrop-filter: blur(2px);
			-webkit-backdrop-filter: blur(2px);
			position: absolute;
			top: 10%;
			right: 10%;
		}

		.CardViewListItem-star {
			width: 23px;
			height: 23px;
			position: absolute;
			top: 6px;
			right: 6px;
		}
	}

	.CardViewListItem-top {
		height: 35px;
		margin: 19px 19px 15px 19px;
		border-left: solid 3px;
		position: relative;

		.CardViewListItem-name {
			padding-left: 9px;
			padding-bottom: 5px;
			font-size: 12pt;
		}

		.CardViewListItem-category {
			padding-left: 10px;
			font-size: 8pt;
			color: #BBBBBB;
		}

	}

	.CardViewListItem-bottom {
		display: flex;

		.CardViewListItem-userimgwrap {
			margin-left: 10px;
			align-self: center;
		}

		.CardViewListItem-userimg {
			width: 25px;
			height: 25px;
			border-radius: 50%;
		}

		.CardViewListItem-user {
			width: 120px;
			height: 40px;
			color: #757575;
			font-size: 10px;
			margin-left: 19px;
			border: 1px solid;
			border-color: #e9e9e9;
			border-radius: 12px;
			display: flex;
			cursor: pointer;
			&:hover {
				background-color: #ffffff;
			}
		}

		.CardViewListItem-leader {
			padding-left: 8px;
			padding-top: 6px;
		}

		.CardViewListItem-projectinfo {
			width: 80px;
			height: 35px;
			margin-left: 10px;
			font-size: 8pt;
			color: #BBBBBB;
		}

		.CardViewListItem-man {
			display: flex;
		}

		.CardViewListItem-mancount {
			margin-left: 7px;
		}

		.CardViewListItem-manicon {
			margin: 2px 0 0 0;
			width: 11px;
		}

		.CardViewListItem-region {
			margin-top: 1px;
			display: flex;
		}

		.CardViewListItem-regionicon {
			margin: 1px 0 0 0;
			width: 11px;
		}

		.CardViewListItem-regiontext {
			margin-left: 7px;
		}

		.CardViewListItem-time {
			display: flex;
			margin-top: 1px;
		}

		.CardViewListItem-calendaricon {
			margin: 1px 0 0 0;
			width: 11px;
		}

		.CardViewListItem-calendartext {
			margin-left: 7px;
		}
	}
}
