.TopView {
	--shadow-color: #00000029;
	height: 70px;
	width: 70vw;
	margin-left: auto;
	margin-right: auto;

	.list {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.list-button {
		width: 12px;
		margin: 10px;
	}

	.list-align {
		display: flex;
	}

	.list-item {
		width: 100px;
		height: 50px;
		margin: 10px;
	}

	.list-img {
		display: block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: rgb(181, 186, 189);
		margin: 5px auto;
	}

	.list-text {
		font-size: 12px;
		text-align: center;
	}
}
