.Login-template {
	--shadow-color: #00000029;

	width: 400px;
	height: 500px;
	margin: 120px auto;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 3px 3px 10px 0 var(--shadow-color);
	//background: cornflowerblue;
}

.Login-email {
	display: block;
	border: none;
	border-radius: 5px;
	background: rgb(243, 243, 243);
	width: 200px;
	height: 25px;
}

.Login-pwd {
	display: block;
	border: none;
	border: none;
	border-radius: 5px;
	background: rgb(243, 243, 243);
	margin-top: 10px;
	width: 200px;
	height: 25px;
}

.Login-button {
	display: block;
	border: none;
	border-radius: 5px;
	color: rgb(99, 99, 99);
	background: rgb(228, 228, 228);
	margin-top: 20px;
	width: 203px;
	height: 31px;
}
